.module-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .module-card-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  /* Each card design */
  .module-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 10px;
    transition: border-color 0.2s;
  }
  
  .module-card:hover {
    border-color: #0A3D62;
  }
  
  .module-card.selected {
    border-color: #0A3D62;
  }
  
  .module-icon {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .module-icon img{
    height: 30px;
    width: 30px;
  }
  
  /* Create Account button */
  .create-account-btn {
    background-color: #ccc;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-account-btn:hover {
    background-color: #0A3D62;
    color: white;
  }
  
  .create-account-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Login link */
  .module-login-link {
    margin-top: 20px;
    font-size: 13px;
  }
  
  .module-login-link a {
    color: #0A3D62;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
  }